#form-wrapper {
    place-items: center center;
    text-align: center;
}

table {
    place-items: center center;
    width: 100%;
    background: rgb(37, 121, 136);
    grid-gap: 1rem;

}

body {
    place-items: center center;
    text-align: center;
    background: rgb(37, 121, 136);

}

